#score {
    display: none;
    transform: scale(-1, 1);
}

#menu {
    flex-direction: column;
    transform: scale(-1, 1);
}

.menu-item {
    border: 1px solid black;
    text-align: center;
    padding: .5rem;
    margin: .2rem 0;
    text-transform: uppercase;

    &:hover {
        background-color: antiquewhite;
    }
}

#game-pad {
    display: none;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
}
